img  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1, h2 {
      color: red;
      background-color: green;
  }

body, head {background-color: green;
            color: yellow;}
